# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd
import zipfile

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
zf = zipfile.ZipFile('../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip') 
orders = pd.read_csv(zf.open('Orders.csv')) # , index_col=1) #, index=True)
zf.close()

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

Using the iterative data analysis workflow, we break down the main problem into several sub problems:

### Main Problem - Setting Expectations

**Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?**

**Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?**

**Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?**

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

---

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

## Main Problem - Collecting Information

### Sub Problem 1 - Setting Expectations

**How to aggregate the  `amount_spent` for unique customers?**

### Sub Probme 1 - Collecting Information

In [3]:
# enter your code
customers = orders.groupby('CustomerID').agg({'amount_spent': 'sum'})
customers.head()

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

### Sub Probme 1 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

### Sub Problem 2 - Setting Expectations

**How to select customers whose aggregated `amount_spent` is in a given quantile range?**

### Sub Problem 2 - Collecting information

In [4]:
# enter your code
customers.quantile([.75, .95])

      amount_spent
0.75      1661.640
0.95      5840.182

### Sub Problem 2 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

In [5]:
percentile_75 = customers.quantile(.75)
percentile_95 = customers.quantile(.95)
percentile_75, percentile_95

(amount_spent    1661.64
 Name: 0.75, dtype: float64, amount_spent    5840.182
 Name: 0.95, dtype: float64)

### Sub Problem 3 - Setting Expectations

How to label selected customers as "VIP" or "Preferred"?

### Sub Problem 3 - Collecting Information

In [6]:
def label_customer(x, p75=percentile_75, p95=percentile_95): 
    res = 'Normal'
    if x['amount_spent'] > float(p75): 
        res = 'Preferred'
    if x['amount_spent'] > float(p95): 
        res = 'VIP'
    return res
    
customers['customer_label'] = customers.apply(lambda x: label_customer(x), axis=1)
customers.head(10)

            amount_spent customer_label
CustomerID
12346           77183.60            VIP
12347            4310.00      Preferred
12348            1797.24      Preferred
12349            1757.55      Preferred
12350             334.40         Normal
12352            2506.04      Preferred
12353              89.00         Normal
12354            1079.40         Normal
12355             459.40         Normal
12356            2811.43      Preferred

### Sub Problem 3 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

Now we can wrap up for the main problem solution:

## Main Problem - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the main problem.*

*Hint: Look forward to what you need to do in Q2. In order for you to solve Q2 conveniently, you probably want to create a new column called `customer_label` where you label the selected customers with `VIP` or `Preferred`.*

---

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [7]:
#Q2
vips_ids = customers[customers['customer_label'] == 'VIP'].index.values# ['CustomerID']
vips_ids  # .head()

array([12346, 12357, 12359, 12409, 12415, 12428, 12431, 12433, 12435,
       12451, 12471, 12472, 12474, 12476, 12477, 12536, 12540, 12557,
       12567, 12583, 12590, 12621, 12626, 12637, 12678, 12681, 12682,
       12683, 12705, 12709, 12731, 12744, 12748, 12753, 12757, 12766,
       12798, 12830, 12901, 12921, 12931, 12939, 12971, 12980, 12989,
       13001, 13018, 13027, 13078, 13081, 13089, 13090, 13093, 13097,
       13098, 13102, 13113, 13199, 13209, 13225, 13263, 13316, 13319,
       13324, 13340, 13408, 13418, 13458, 13488, 13534, 13576, 13629,
       13668, 13694, 13709, 13767, 13777, 13798, 13854, 13871, 13881,
       13969, 13985, 14031, 14051, 14056, 14057, 14060, 14062, 14088,
       14096, 14101, 14156, 14194, 14258, 14298, 14367, 14415, 14505,
       14527, 14606, 14607, 14646, 14667, 14680, 14733, 14735, 14769,
       14796, 14849, 14866, 14895, 14911, 14936, 14944, 14952, 14961,
       15005, 15023, 15039, 15044, 15061, 15078, 15098, 15125, 15144,
       15159, 15189, 15194, 15249, 15251, 15290, 15311, 15358, 15382,
       15465, 15482, 15498, 15502, 15513, 15601, 15615, 15640, 15694,
       15749, 15769, 15838, 15856, 15939, 16000, 16013, 16029, 16033,
       16126, 16133, 16180, 16182, 16187, 16210, 16333, 16353, 16422,
       16446, 16523, 16525, 16532, 16558, 16652, 16656, 16672, 16684,
       16705, 16713, 16729, 16745, 16746, 16779, 16814, 16839, 16843,
       16873, 16923, 17017, 17107, 17139, 17243, 17306, 17315, 17338,
       17340, 17381, 17389, 17396, 17404, 17416, 17428, 17450, 17509,
       17511, 17581, 17675, 17677, 17706, 17735, 17811, 17841, 17857,
       17865, 17949, 18055, 18092, 18102, 18109, 18139, 18172, 18223,
       18229])

In [17]:
orders_vip = orders[orders['CustomerID'].isin(vips_ids)]
orders_vip.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.0
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.0
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.0
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.2
30,30,536370,21883,2010,12,3,8,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.6
31,31,536370,10002,2010,12,3,8,inflatable political globe,48,2010-12-01 08:45:00,0.85,12583,France,40.8
32,32,536370,21791,2010,12,3,8,vintage heads and tails card game,24,2010-12-01 08:45:00,1.25,12583,France,30.0
33,33,536370,21035,2010,12,3,8,set/2 red retrospot tea towels,18,2010-12-01 08:45:00,2.95,12583,France,53.1
34,34,536370,22326,2010,12,3,8,round snack boxes set of4 woodland,24,2010-12-01 08:45:00,2.95,12583,France,70.8
35,35,536370,22629,2010,12,3,8,spaceboy lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.8

In [19]:
# orders_vip.groupby('Country').agg({'Country': 'count'})
# orders_vip['Country'].value_counts().head(1)

## 
## hay que agrupar los customer por CustomerID y no todos
##
## Solución = 177
## 

orders_vip['Country'].value_counts().head(1)

United Kingdom    84185
Name: Country, dtype: int64

In [10]:
#Q3
vips_preferred_ids = customers[(customers['customer_label'] == 'VIP') | 
                               (customers['customer_label'] == 'Preferred')].index.values# ['CustomerID']
vips_preferred_ids  # .head()

array([12346, 12347, 12348, ..., 18272, 18283, 18287])

In [11]:
orders_vip_pref = orders[orders['CustomerID'].isin(vips_preferred_ids)]
orders_vip_pref.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

In [12]:
## 
## hay que agrupar los customer por CustomerID y no todos
##
## Solución = 937
## 

# orders_vip.groupby('Country').agg({'Country': 'count'})
orders_vip_pref['Country'].value_counts().head(1)

United Kingdom    221635
Name: Country, dtype: int64